####SOURCE COMPILE
*.com
*.class
*.dll
*.exe
*.o
*.so
*.JPG
*.png
*.jpg
*.pyc
*.m~
*.eps
*.dat
*.txt
*.hdf5
.Python
README.md
modif_rapport
note_CNN

####VIRTUAL ENVIRONNEMENT
venv

####IMG
DATA/

####BUILD
compute_scale/segment_flou/build/*
mesure_grume/build/*
cornerSegmentation/
MireGradientDetector/
mesure_grume/
outils/

####EXCEPTION IGNORANCE
##MODELE CNN
!compute_scale/segmentation_mire/model/save/400_M_16.hdf5
##REPERTOIRE VIDE DE BUILD
!compute_scale/segment_flou/build/.gitkeep
!mesure_grume/build/.gitkeep
