# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.JPG
*.png
*.jpg
*.pyc
*.m~
*.eps
*.dat
*.hdf5
.Python

#Virtual environnement
venv

#données
DATA/
compute_scale/segment_flou/src/visu_EPS/
compute_scale/SCALE/
compute_scale/PIXELS/
compute_scale/IMG_SGM/
#build
compute_scale/segment_flou/build/
mesure_grume/build/
cornerSegmentation/
