# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.JPG
*.png
*.jpg
*.pyc
*.m~
*.eps
*.dat
*.hdf5
.Python
#Virtual environnement
venv
#model d'apprentissage
deeplearning/model
#données
DATA
#build
segmentation_mire/segment_flou/build/
grume/mesure_grume/build/
